.fa.fa-phone-square {
  float:left;
  font-size:55px;
  color:white;
  display:inline-block !important;
}

.phones {
  justify-content:center !important;
  height:30px;
  width:40%;
  display:flex !important;
}

.phcol {
  margin-left:17px;
}

.phone1 {
  font-size:18px;
  color:white;
}

.phone2 {
  font-size:18px;
  color:white;
}

.col-md-5.phonescolumn {
  margin-top:-20px;
}

@media (max-width:991px) {
  .phonesdiv {
    margin-left:-10px;
    margin-bottom:20px;
  }
}

@media (max-width:767px) {
  .col-md-5.phonescolumn {
    margin:0 auto;
    margin-left:50px;
    margin-bottom:30px;
  }
}

