@media (max-width:991px) {
  .col-md-5.phones {
    margin-top:-30px;
    margin-bottom:40px;
  }
}

@media (max-width:767px) {
  .col-md-5.phones {
    margin-top:-30px;
    margin-bottom:40px;
  }
}

.col-md-5.phones {
  font-size:50px;
  color:white;
  margin-top:-25px;
  padding:5px;
  display:inline-block;
  justify-content:center;
}

.phonesdiv {
  font-size:18px;
  margin-left:5px;
  display:inline-block;
  justify-content:center;
}

