.headerpr {
  margin-bottom:0;
  color:white;
  box-shadow:0 0 10px rgba(5,5,5,5.5);
  text-align:center;
  width:100%;
  height:500px;
  background:url(../../assets/img/bgpr.jpg);
  background-size:cover;
  background-position:bottom;
  padding:60px;
  opacity:initial;
}

h1 {
  padding-left:20px !important;
}

.panel-body {
  background-color:#02027b !important;
}

.movebut:hover {
  background-color:rgba(252,252,1,0.8);
  color:white;
}

.movebut {
  border-radius:10px;
  padding:4px;
  border:1px solid yellow;
}

@media (max-width:767px) {
  .movebut {
    font-size:16px !important;
  }
}

@media (max-width:767px) {
  .movebut.movebut22 {
    font-size:15px !important;
  }
}

.panel.panel-default {
  border-bottom:1px solid white;
}

.footer-basic {
  margin-top:20px !important;
}

.panel-heading {
  margin-bottom:8px;
}

@media (max-width:767px) {
  .movebut {
    font-size:17px !important;
  }
}

.itmspr {
  margin-left:10px;
}

.panel.panel-default {
  border-bottom:1px solid white;
}

.panel.panel-default {
  border-bottom:1px solid white;
}

.ite {
}

.footer-basic {
  margin-top:-25px !important;
}

#price {
  padding:20px;
}

.jumbotron {
  padding:20px;
}

@media (max-width:767px) {
  .jumbotron h1 {
    font-size:35px;
  }
}

.btn.btn-link.btnback:hover {
  background-color:rgba(252,252,1,0.8);
}

.btn.btn-link.btnback {
  font-size:18px;
  margin-left:-10px;
  margin-top:30px;
  padding:10px 40px 10px 40px;
}

.jumbotron {
  height:400px;
  padding:40px;
  text-align:center;
  border-radius:15px;
  background:rgba(0,37,109,0.5);
}

.jumbotron .h1, .jumbotron h1 {
  text-align:center;
  padding:5px;
}

.pricetablediv {
  margin-top:40px;
}

#pricetable {
  text-align:center;
}

.price {
}

.priceline {
  font-size:20px;
}

body {
  background-color:white !important;
}

@media (min-width:1200px) {
  .row {
    margin-left:-100px;
  }
}

.col-md-3 {
}

.thumbnail {
  background-color:rgba(4,4,4,0.48) !important;
  margin-bottom:50px !important;
  margin:0 auto;
  border:3px solid rgb(228,225,225);
  width:220px;
  height:250px;
}

@media (max-width:991px) {
  .btn.btn-link.btnback {
    margin-top:-10px;
  }
}

@media (max-width:767px) {
  .btn.btn-link.btnback {
    font-size:12px;
    margin-left:-15px;
    margin-top:-20px;
    padding-left:15px;
    padding-right:15px;
  }
}

@media (max-width:991px) {
  .col-md-3 {
    margin-left:0px;
  }
}

@media (max-width:767px) {
  .col-md-3 {
    margin-left:0px;
  }
}

.feachpr {
  color:white;
  font-family:'Comfortaa';
  text-transform:none;
  text-align:center;
  padding-top:30px;
  height:200px;
}

.pricetext {
  margin-left:-10px;
  vertical-align:bottom;
  color:blue;
}

.btn-info {
  background-color:rgb(4,4,4) !important;
  color:#fefefe;
  border-color:#46b8da;
}

.panel-heading {
}

.panel-body {
}

#pricetable {
  text-align:center;
}

.panel.panel-default {
  border:none;
  margin-bottom:-10px;
}

#accordion-1 a {
  text-decoration:none;
}

body {
  background-color:#02027b !important;
}

.panel.panel-default.items {
}

.pricetext {
  color:white;
}

