body {
  /*background-color:#edf6fc;*/
  font-family:Arial, Helvetrica, sans-serif;
}

#promo {
  margin-top:-30px;
  text-align:center;
  padding:40px;
  background:url(../../assets/img/3.jpg);
  background-size:cover;
}

#promo {
  padding:20px;
}

#promo .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(234,234,234,0.7);
  margin:auto;
  max-width:900px;
}

@media (max-width:1199px) {
  #promo .jumbotron {
    padding:20px;
  }
}

.site-sec {
  text-align:center;
  padding:60px 0;
  margin:0 auto;
}

#welcome {
}

#welcome p {
  text-align:center;
  font-size:20px;
}

.sec1 {
  text-align:center;
  padding:60px 0;
  margin:0 auto;
}

.sec1 h1 {
  font-weight:normal;
}

.sec1 p {
  color:rgb(140,139,139);
  padding:40px 0;
}

.site-sec h1 {
  font-weight:normal;
  margin-bottom:30px;
}

#why {
  margin-top:-70px;
}

#why p {
  padding:20px;
}

#why h2 {
  font-weight:normal;
}

#why .item1 i {
  color:rgb(1,143,247);
  padding:10px;
  font-size:50px;
}

#why .item1 p {
  color:rgb(140,139,139);
}

.row {
  margin-top:60px;
}

.bgcolorofsec1 {
  background-color:#edf6fc;
}

.whysec {
  background-color:#edf6fc;
}

hr {
  border:none;
  background-color:rgb(88,235,235);
  height:0.5px;
}

.navbar-default {
  background-color:#ffffff;
  border-color:#e3e3e4;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color:white;
  background-color:rgb(1,143,247);
}

.thumbnail {
  box-shadow:5px 0 10px rgba(0,0,0,0.5);
  border:3px solid;
  border-radius:5px;
  border-color:#edf6fc;
}

.gallery {
  background-color:#edf6fc;
}

