.bodyindex {
  padding:0;
  margin:0 auto;
  background-color:#02027b !important;
  color:white;
}

.feach h2 {
  font-size:25px;
}

.headh2 {
  color:white !important;
}

.features {
  padding:10px;
}

.intro h3 {
  margin-left:-10px;
  margin-bottom:40px;
  font-size:40px !important;
  color:white;
}

.wtsicon {
  font-size:50px;
  color:white;
}

.device {
  margin-top:-70px;
}

.highlight-phone {
  background-color:#02027b;
}

.contact {
  color:rgb(251,251,249);
  font-size:30px;
}

.intro p {
  padding-left:20px;
}

.intro p {
  padding-left:10px;
  margin-top:-20px;
  color:white;
  font-size:25px;
}

.itemhead {
  margin-left:70px;
  float:left;
}

.itm {
  font-size:30px;
}

.contact p {
  font-size:20px;
}

.itemtop {
  font-size:50px;
}

.icon {
  font-size:50px;
}

.text-center {
  padding-left:30px;
  font-size:50px;
}

#features .item1 {
  color:Yellow;
  text-align:center;
  font-size:50px;
}

.highlight-phone {
  margin-bottom:0px;
}

.feach p {
}

#features h1 {
  text-align:center;
}

.col-md-3 {
  text-align:center;
}

.features h1 {
  font-size:40px;
}

.col-md-3.feach {
  padding:30px;
}

hr {
  margin-top:-1px;
  border:1px solid yellow;
}

.map-clean {
  background-color:#02027b;
  margin-top:100px;
}

.map-clean {
  text-align:center;
}

.map-clean h2 {
  color:white;
}

.mapp {
  width:100%;
}

iframe {
  border-top:2px solid yellow;
}

iframe {
  width:100%;
}

.footer-basic {
  background-color:#000;
}

.itemfooter {
  font-size:30px;
  color:rgb(250,255,0);
}

.float-r {
  margin-top:-20px;
}

.footer-basic {
  margin-top:-5px;
  border-top:4px solid yellow;
}

.upitm {
  font-size:60px;
  margin-top:100px;
}

.row {
  margin-left:3px;
  width:99%;
}

.footer-basic {
  background-color:#02027b;
}

.itemfooter2 {
  margin-top:-10px;
  margin-left:10px;
}

.nav.nav-tabs {
  text-align:center;
  margin:0 auto;
}

.tab-content {
  text-align:center;
}

* {
  font-family:'Comfortaa';
}

.contact {
  display:inline;
  font-size:20px;
}

